<ion-header>
    <ion-toolbar color="danger" style="text-align: center;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          MULTIPLICATION OF 16-BIT NO
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
     <pre>
        MOV DX,2000H
        MOV DS,DX
        MOV BX,100H
        MOV SI,00H
        MOV AX,[BX][SI]
        MOV CX,[BX][SI+2]
        MUL CX
        MOV [BX][SI+4],AX
        MOV [BX][SI+6],DX
        HLT
            
  
     </pre>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="end">
          <ion-tab-button (click)="navigate('list')">
            <ion-icon name="arrow-back"></ion-icon> 
            <ion-label>Back</ion-label>
          </ion-tab-button>
      
          <ion-tab-button (click)="navigate('home')">
            <ion-icon name="home"></ion-icon> 
            <ion-label>Home</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="navigate('list')">
             <ion-icon name="build"></ion-icon> 
            <ion-label>Program</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  
  </ion-footer>

